.wrapper {
  background-color: var(--bg-secondary);
  border: 1px solid var(--border);
  border-radius: var(--radius);
  padding: 16px;
  margin-bottom: 16px; /* Стойност по подразбиране */
  width: auto; /* Стойност по подразбиране */
}

/* Този клас ще се добавя само ако isModal е true */
.isModal {
  margin-bottom: 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.textarea {
  resize: none;
  min-height: 80px;
  padding: 12px;
  border-radius: 12px;
  border: 1px solid var(--border);
  background-color: var(--bg);
  color: var(--text);
  font-family: inherit;
  transition: border-color 0.2s;
}

.textarea:focus {
  outline: none;
  border-color: #555;
}

.button {
  align-self: flex-end;
  background-color: var(--accent);
  color: #000;
  border: none;
  padding: 8px 14px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.button:hover {
  opacity: 0.85;
}